---
// @ts-nocheck
import type { CollectionEntry } from "astro:content";

export type Props = {
  work: CollectionEntry<"work">;
};

const { work } = Astro.props;
---

<div class="">
  <div class="block w-fit">
    <div>
      {
        work.data.hasBlog ? (
          <a href={`/works/${work.slug}`} class="flex items-center gap-2 group">
            <span class="text-2xl">{work.data.title}</span>
            <i class="ri-arrow-right-line font-bold group-hover:translate-x-1 transition-transform duration-300" />
          </a>
        ) : (
          <span class="text-2xl">{work.data.title}</span>
        )
      }
    </div>
  </div>
  <p class="text-[#EEEEE2]/60">
    {work.data.description}
  </p>
  <p class="text-[#EEEEE2]/60">
    {work.data.tags.join(" · ")}
  </p>
  {
    work.data.href !== "" && (
      <a
        href={work.data.href}
        class="text-[#EEEEE2]/60 hover:text-[#EEEEE2] transition-all"
        target="_blank"
      >
        <i class="ri-link" />
        <span>{work.data.href.replace("https://", "")}</span>
      </a>
    )
  }
</div>
