---
import { SEO } from "astro-seo";
import "remixicon/fonts/remixicon.css";
import faviconImg from "../../public/favicon.png";
import {
  DESCRIPTION,
  HEADER_IMAGE,
  SITE_NAME,
  TWITTER_ACCOUNT,
} from "../constants";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { cn } from "../libs/utils";

export type Props = {
  title?: string;
  description?: string;
  article?: { tags: string[]; date: string };
  language?: string;
  center?: boolean;
};

const {
  title,
  description = DESCRIPTION,
  article,
  language = "es",
  center = false,
} = Astro.props;
---

<html lang={language} class="scroll-smooth">
  <head>
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5387632935092389"
      crossorigin="anonymous"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href={faviconImg.src} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="google-site-verification"
      content="5W0lE8yMzdArEbSjACDpmblwu11K9qV98a28IgwUY0s"
    />
    <title>{title ? `${title} - ${SITE_NAME}` : SITE_NAME}</title>
    <SEO
      description={description}
      openGraph={{
        basic: {
          title: title ?? SITE_NAME,
          type: "website",
          image: HEADER_IMAGE,
        },
        image: { alt: "ga1az" },
        optional: { description, siteName: SITE_NAME },
        article: {
          authors: article && ["Sergio Galaz"],
          publishedTime: article?.date,
          tags: article?.tags,
        },
      }}
      twitter={{
        title,
        description,
        card: "summary_large_image",
        image: HEADER_IMAGE,
        site: TWITTER_ACCOUNT,
        creator: TWITTER_ACCOUNT,
      }}
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    class="max-w-3xl py-6 sm:py-16 mx-auto flex
    flex-col min-h-[100dvh] px-4
    bg-[#111111] text-[#EEEEE2]"
  >
    <Header />
    <main class={cn("grow", center && "flex justify-center items-center")}>
      <slot />
    </main>
    <Footer />
  </body>
</html>
